.login-container{
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap:30px;
}

.login-page-heading{
    font-size: 30px;
    text-align: center;
}
.login-button{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}