.page-content{
  padding: 0px 25px 0px 25px;
}
.tranding-navbar{
  background-color: whitesmoke;
  padding: 0px 15px 0px 15px;
  height: 60px;
  display: flex;
align-items: center;
justify-content: space-between;
box-shadow: 0px 0px 2px 0px black;
}
.navbar-profile-section{
  display: flex;
  align-items: center;
}


#darkmode{
  display: flex;
  justify-content: center;
}

#darkmode .dark {
  background-color: #292c35;
}
#darkmode .checkbox {
  opacity: 0;
  position: absolute;
}

#darkmode .label {
  width: 50px;
  height: 25px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  cursor: pointer;
}

#darkmode .ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

#darkmode .checkbox:checked + .label .ball{
  transform: translateX(24px);
}